@using ShopLocator.Constants

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </environment>
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="indigo darken-1">
            <div class="nav-wrapper container">
                <a class="brand-logo left" asp-area="" asp-controller="Stores" asp-action="Index">
                    @Content.APP_NAME
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    @*<li><a class="navbar-item" asp-area="" asp-controller="Stores" asp-action="Create">@Content.Navigation.CREATE_NEW_SHOP_LINK</a></li>
                        <li><a class="navbar-item" asp-area="" asp-controller="Stores" asp-action="Details">@Content.Navigation.ADMIN_LINK</a></li>*@
                    <li>
                        <a class="navbar-item" asp-area="" asp-controller="Home" asp-action="Index">
                            @Content.Navigation.ABOUT_LINK
                        </a>
                    </li>
                    <li>
                        <a class="navbar-item"
                           href="https://github.com/fuzzypawzz/ShopLocator"
                           target="_blank">@Content.Navigation.GO_TO_REPO_LINK</a>
                    </li>
                </ul>
                <a href="#" data-target="nav-mobile" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>

    <section class="section">
        <div class="container">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </section>

    <footer class="page-footer pink darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">@Content.Footer.LEFT_HEADLINE</h5>
                    <p class="grey-text text-lighten-4">The shop locator is created by Jannik Maag for a school project at CPH Business in Copenhagen in 2021. License: MIT</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">@Content.Footer.MIDDLE_HEADLINE</h5>
                    <ul>
                        <li>ASP.NET Core</li>
                        <li>C#</li>
                        <li>Razor</li>
                        <li>JavaScript</li>
                        <li><a class="white-text" target="_blank" href="https://sass-lang.com/">Sass</a></li>
                        <li><a class="white-text" target="_blank" href="https://azure.microsoft.com/">Microsoft Azure</a></li>
                        <li><a class="white-text" target="_blank" href="https://developers.google.com/maps/documentation/javascript/overview">Google Maps JS API</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">@Content.Footer.RIGHT_HEADLINE</h5>
                    <ul>
                        <li><a class="white-text" target="_blank" href="https://github.com/fuzzypawzz/shopLocator">Shop Locator on GitHub</a></li>
                        <li><a class="white-text" target="_blank" href="https://dk.linkedin.com/in/jannik-maag">Jannik Maag on LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                @Content.Footer.COPYRIGHT_TEXT: <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </environment>
    <script src="https://cdn.jsdelivr.net/npm/@@tarekraafat/autocomplete.js@8.2.2/dist/js/autoComplete.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/autocomplete.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
